{% extends parent_template|default:'user/base_user.html' %} 
{% load myfilters %} 
{% block title %} 
{{ block.super }} - Change Password 
{% endblock title %} 
{% block content %}
<h2 class="text-center">Change Password</h2>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form action="{% url 'user:pw_change' %}" method="post">
            {% csrf_token %}
            <p>
                {{form.old_password.errors}} 
                {{form.old_password.lable_tag}} 
                {{form.old_password|addclass:"form-control"}} 
                {% if form.old_password.help_text %}
                <div class="help">{{ form.old_password.help_text|safe }}</div>
                {% endif %}

            </p>
            <p>
                {{form.new_password1.errors}} 
                {{form.new_password1.lable_tag}} 
                {{form.new_password1|addclass:"form-control"}} 
                {% if form.new_password1.help_text %}
                <div class="help">{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
            </p>
            {% comment %}
            <ul>
                <p>Help for setting password</p>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
            superuser: test3006 {% endcomment %}
            <p>
                {{form.new_password2.errors}} 
                {{form.new_password2.lable_tag}} 
                {{form.new_password2|addclass:"form-control"}} 
                {% if form.new_password2.help_text %}
                <div class="help">{{ form.new_password2.help_text|safe }}</div>
                {% endif %}
            </p>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock content %}