{% extends parent_template|default:'user/base_user.html' %}
{% block title %}
{{ block.super }} - {{profile.user.get_username}}'s Profile
{% endblock title %}

{% block content %}
<div class="row">
    <div class="{% if user.pk == profile.user.pk %}col-md-8{% else %}col-md-12{% endif %}">
        <h2>About {% if profile.user.get_short_name %}
        {{profile.user.get_short_name}}
        {% else %}
        {{profile.user.get_username}}
        {% endif %}</h2>
        {{profile.about|default:'No Profile'|linebreaks}}
    </div>
    {% if user.pk == profile.user.pk %}
    <div class="col-md-4">
        <ul class="task-list">
            <li>
                <a href="{% url 'user:pw_change' %}">Change Password</a>
            </li>
            <li>
                <a href="{% url 'user:disable' %}">Deactivate Account</a>
            </li>
            <li>
                <a href="{{profile.get_update_url}}">
                    Edit Your Profile
                </a>
            </li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock content %}